.events {
  text-align: center;
  display: flex;
  flex-direction: column;
  font-family: Poppins Bold;

  h4 {
    font-size: $h3;
    margin-top: 1rem;
  }

  &-header {
    min-height: 10vh;
    color: $secondary-color;
    font-size: $h2;

    h3 {
      margin-top: 2rem;
    }
  }

  &-top {
    display: flex;
    min-height: 40vh;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-bottom: 5rem;
  }

  .events-2 {
    margin: 0 10rem;
  }
  .events-4,
  .events-5 {
    margin: 0 5rem;
  }

  &-bottom {
    min-height: 40vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
  }
}

@media screen and (max-width: 1624px) {
  .events {
    &-top,
    &-bottom {
      flex-wrap: wrap;
    }

    h4 {
      font-size: 2.6rem;
      margin-bottom: 6rem;
    }

    &-bottom {
      margin: 0rem;
    }

    img {
      width: auto;
      height: 70%;
    }
  }
}
